@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
  background-image: url('./Images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
} */

.too{
  color: #ffffffb7;
}

.cot:hover .icos{
 background-color: rgba(214, 212, 212, 0.432);
}

.cot:hover .texts{
  color: white;
}

.cot:hover .textss{
  color: white;
}